*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

 .title {
  text-align: center; 
  padding: 10px; 
  font-size: 2.5rem; 
  font-weight: bold; 
  color:#2c3e50; 
  line-height: 1.2; 
  font-family: 'Merriweather', serif;



}

/* item List.css */
.search-bar {
  margin-bottom: 20px;
  padding: 12px 20px;
  font-size: 16px;
  width: 100%;
  max-width: 400px;
  border: 2px solid #ddd;
  border-radius: 8px;
  outline: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease-in-out;
}

.search-bar:focus {
  border-color: #065f46;
}



.item-list-container {
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  text-align: center;
  border: 1px solid #ddd; /* Light border for card effect */
  border-radius: 12px; /* Slightly more rounded corners */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* More pronounced shadow for depth */
  background-color: #fff; /* White background for contrast */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effect */
  max-width: 600px; /* Define a max-width for the medium card */
  width: 100%; /* Ensure the card takes full width up to max-width */
}

.item-list-container:hover {
  transform: scale(1.02); /* Slightly scale up on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhance shadow on hover */
}

ul.item-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item-list li {
  margin-bottom: 15px;
  padding: 15px; /* Increase padding for better spacing */
  border: 1px solid #ddd; /* Light border for list items */
  border-radius: 8px; /* More rounded corners for list items */
  background-color: #f4f4f4; /* Light grey background for list items */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Light shadow for list items */
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effect */
}

.item-list li:hover {
  background-color: #e0e0e0; /* Slightly darker background on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Enhanced shadow on hover */
}




.pagination-controls {
  display: inline-flex; /* Use inline-flex to align the buttons in the center */
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.pagination-button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination-page-number {
  margin: 0 10px;
  font-size: 16px;
}




body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
